<html>
    <body>
        <h3>FIR Report</h3>
        <head>
            <style>
                body {
                    font-family: Arial, sans-serif;
                    margin: 20px;
                }
                h1 {
                    text-align: center;
                    color: #333;
                }
                table {
                    width: 100%;
                    border-collapse: collapse;
                    margin-top: 20px;
                }
                table, th, td {
                    border: 1px solid black;
                }
                th, td {
                    padding: 10px;
                    text-align: left;
                }
                th {
                    background-color: #f2f2f2;
                }
            </style>
        </head>
        <table>
            <tr>
                <th>ComplaintID</th>
                <td><%=ComplaintID%></td>
            </tr>
            <tr>
                <th>User Name</th>
                <td><%=UserName%></td>
            </tr>
            <tr>
                <th>Father/Husband Name</th>
                <td><%=FatherOrHusbandName%></td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td><%=DateOfBirth%></td>
            </tr>
            <tr>
                <th>complainant email</th>
                <td><%=complainantemail%></td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td><%=Nationality%></td>
            </tr>
            <tr>
                <th>Phone number</th>
                <td><%=PhoneNumber%></td>
            </tr>
            <tr>
                <th>Permanent Address</th>
                <td><%=PermanentAddress%></td>
            </tr>
            <tr>
                <th>Temporary Address</th>
                <td><%=TemporaryAddress%></td>
            </tr>
            <tr>
                <th>UID Number</th>
                <td><%=UIDNo%></td>
            </tr>
            <tr>
                <th>Passport Number</th>
                <td><%=PassportNo%></td>
            </tr>
            <tr>
                <th>Date of Issue</th>
                <td><%=DateOfIssue%></td>
            </tr>
            <tr>
                <th>Place of Issue</th>
                <td><%=PlaceOfIssue%></td>
            </tr>
            <tr>
                <th>ID Type</th>
                <td><%=IDType%></td>
            </tr>
            <tr>
                <th>ID Number</th>
                <td><%=IDNumber%></td>
            </tr>
            <tr>
                <th>Occupation</th>
                <td><%=Occupation%></td>
            </tr>
            <tr>
                <th>Property Category</th>
                <td><%=PropertyCategory%></td>
            </tr>
            <tr>
                <th>Property Type</th>
                <td><%=PropertyType%></td>
            </tr>
            <tr>
                <th>Description of Property</th>
                <td><%=DescriptionOfProperty%></td>
            </tr>
            <tr>
                <th>Total Value of Property</th>
                <td><%=TotleValueOfProperty%></td>
            </tr>
            <tr>
                <th>Value of Property</th>
                <td><%=ValueOfProperty%></td>
            </tr>
            <tr>
                <th>Occurrence Day</th>
                <td><%=OccurenceDay%></td>
            </tr>
            <tr>
                <th>Occurrence Date From</th>
                <td><%=OccurenceDateFrom%></td>
            </tr>
            <tr>
                <th>Occurrence Date To</th>
                <td><%=OccurenceDateTo%></td>
            </tr>
            <tr>
                <th>Occurrence Time Period</th>
                <td><%=OccurenceTimePeriod%></td>
            </tr>
            <tr>
                <th>Occurrence Time From</th>
                <td><%=OccurenceTimeFrom%></td>
            </tr>
            <tr>
                <th>Occurrence Time To</th>
                <td><%=OccurenceTimeTo%></td>
            </tr>
            <tr>
                <th>Occurrence Date</th>
                <td><%=OccurenceDate%></td>
            </tr>
            <tr>
                <th>Occurrence Time</th>
                <td> <%=OccurenceTime%></td>
            </tr>
            <tr>
                <th>Occurrence</th>
                <td><%=Occurence%></td>
            </tr>
            <tr>
                <th>Accused</th>
                <td><%=Accused%></td>
            </tr>
            <tr>
                <th>First Information Content</th>
                <td><%=FirstInformationcontent%></td>
            </tr>
            <tr>
                <th>Reason of Delay</th>
                <td><%=ReasonOfDelay%></td>
            </tr>
        </table>
    </body>
</html>